@import "tailwindcss";

@theme {
  --font-sans: var(--font-comfortaa);
  --font-body: var(--font-bricolage);
  --font-button: var(--font-dm-sans);
}

:root {
  --background: #FFF8E7;
  --foreground: #171717;
  --primary: #FF913B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFF8E7;
    --foreground: #171717;
    --primary: #FF913B;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}
